[submodule "libs/raudio"]
	path = libs/raudio
	url = https://github.com/raysan5/raudio
[submodule "libs/miniaudio"]
	path = libs/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "libs/tinydir"]
	path = libs/tinydir
	url = https://github.com/cxong/tinydir
[submodule "libs/pdcurses"]
	path = libs/pdcurses
	url = https://github.com/wmcbrine/PDCurses
